aiohttp
aiosignal
argcomplete
asgiref
async-timeout
attrs
backoff
backports.zoneinfo
beautifulsoup4
certifi
cffi
chardet
charset-normalizer
cohere
compressed-rtf
cryptography
defusedxml
Django
django-allauth
django-crispy-forms
docx2txt
ebcdic
environ
extract-msg
fastavro
frozenlist
gunicorn
idna
IMAPClient
importlib-metadata
lxml
multidict
oauthlib
olefile
packaging
pdfminer.six
Pillow
pycparser
pycryptodome
PyJWT
pypdf2
python-pptx
python3-openid
reportlab
requests
requests-oauthlib
six
sortedcontainers
soupsieve
SpeechRecognition
sqlparse
textract
typing-extensions
tzlocal
urllib3
whitenoise
xlrd
XlsxWriter
yarl
zipp
