aiohttp
aiosignal
argcomplete
asgiref
async-timeout
attrs
backoff
backports.zoneinfo
beautifulsoup4
cohere

Django
django-allauth
django-crispy-for

environ

gunicorn

multidict
oauthlib

Pillow

pypdf2

reportlab
six
sortedcontainers

SpeechRecognition
sqlparse
textract

whitenoise

