aiohttp
aiosignal
argcomplete
asgiref
async-timeout
attrs
backoff
backports.zoneinfo
beautifulsoup4
certifi
cffi
chardet
charset-normalizer
coher
compressed-rtf
cryptography
defusedxml
Django
django-allauth
django-crispy-for
docx2t
ebcdic
envir
extract-msg
fastavro
frozenlist
gunicorn
id
IMAPClient
importlib-metadata
lxml
multidict
oauthlib
olefil
packagin
pdfminer.six
Pillow
pycparse
pycryptodome
PyJWT
pypdf2
python-pptx
python3-openid
requests
requests-oauthlib
reportlab
six
sortedcontainers
soupsie
SpeechRecognition
sqlparse
textract
typing-extensions
tzloc
urllib3
whitenoise
xlrd
XlsxWriter
yarl
zipp
