<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Summary Detail</title>
    <link rel="stylesheet" href="{% static 'css/detail.css'%}" type="text/css" />
</head>

<body class="body">
    <h2>Generated Text View</h2>
    <a id="pdf_link" href="{{summary.generated_file.url}}"></a>
    <p>
        Raw input text:
    </p>
    <textarea readonly cols="30" rows="10" class="textInput">{{summary.input_text}}</textarea>

    <p>
        Summarized text:
    </p>
    <textarea readonly cols="30" rows="10" class="textOutput" id="textOutput">{{summary.generated_text}}</textarea>

    <div>
        <button class="download_btn txt_btn" id="download_txt">Download TXT</button>
        <button class="download_btn pdf_btn" id="download_pdf">Download PDF</button>
    </div>



    <a href="{% url 'landing' %}" style="margin-top: 0.25rem;" class="custom_link">New Summary</a>

    <script>
        document.getElementById("download_txt").addEventListener("click", function () {
            const text = document.getElementById("textOutput").value;
            const blob = new Blob([text], { type: "text/plain" });
            const downloadLink = document.createElement("a");
            downloadLink.href = URL.createObjectURL(blob);
            downloadLink.download = "Summary.txt";
            document.body.appendChild(downloadLink);
            downloadLink.click();
            document.body.removeChild(downloadLink);
        });
    </script>

    <script>
        document.getElementById("download_pdf").addEventListener("click", function () {
            const pdfLink = document.getElementById("pdf_link").href
            const download_link = document.createElement("a");
            download_link.href = pdfLink
            download_link.download = "Generated_document.pdf"
            document.body.appendChild(download_link)
            download_link.click()
            document.body.removeChild(download_link)
        })
    </script>

</body>

</html>